<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--위치 이름 -->
    <add key="SiteName" value="LGD Edge Inspection Sample"/>


    <!--Local DataBase 이름-->
    <add key="LocalDBName" value="Z_LGD_Edge_Sample"/>
    <!--Local DataBase IP-->
    <add key="LocalDBIP" value="Local"/>
    <!--Local DataBase 사용자 이름-->
    <add key="LocalUserID" value="dsnt"/>
    <!--Local DataBase 사용자 비밀번호-->
    <add key="LocalUserPW" value="dsntadmin"/>

    <!-- PLC Info-->
    <add key="PLC_HEARTBIT" value="D9100"/>
    <add key="PLC_INSP_START" value="D9101"/>
    <add key="PLC_INSP_MODEL" value="D9102"/>
  </appSettings>
</configuration>